//  Using naming convention derived from BEM methodology 


// Descriptive Colors
$white: #ffffff;
$black: #333333;
$gray: #eeeeee;
$gray--light: #fbfbfb;
$gray--mid: #e6e6e6;
$gray--dark: #6b6b6b;
$blue: #2e66af;
$red: #ef3e42;
$red--dark: #b40f12;

// Functional Colors
$nav--bg: $white;